.event-countdown {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 0;

    h2 {
        line-height: 1;
        margin:0;
        white-space: nowrap;
    }
}

.event-form {
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) {
    .event-form {
        flex-direction: row;
    }
  }
